body {
  margin: 0px;
  padding: 0px;
  background: #eee;
}

#initial_startup {
   width: 100%;
   height: 100%;
   position: fixed;
   -moz-user-select: none;
   -webkit-user-select: none;

   display: flex;
   align-items: center;
   justify-content: center;
   display: -webkit-box;
   display: -webkit-flex;
   -webkit-align-items: center;
   -webkit-justify-content: center;
   flex-direction: column;
   -webkit-flex-direction: column;
}

      
.spinner-container {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  text-align: center;
}

#login{
  text-align: left;
  width: 500px;
  height:700px;   
}

.alert-error {
  background: #ffcdd2;
  border: 1px solid #f44336;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  padding: 10px;
}

.card-actions{
  text-align: center;
}

.spinner-container .path {
  stroke-dasharray: 1,150; 
  stroke-dashoffset: 0;
  stroke: rgba(27, 154, 89, 0.7);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;  
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; 
    stroke-dashoffset: -35;   
  }
  100% {
    stroke-dasharray: 90,150; 
    stroke-dashoffset: -124;  
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;  
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; 
    stroke-dashoffset: -35;   
  }
  100% {
    stroke-dasharray: 90,150; 
    stroke-dashoffset: -124;  
  }
}