<link rel="import" href="../../assets/styles/app-theme.html">
<dom-module id="user-popover-styles">
  <template>
    <style include="app-theme">
      #userOptions{
        border-radius: 50%;
        height: 32px;
        width: 32px;
        cursor: pointer;
        background: #EEEEEE;
      }

      app-toolbar {
        height:45px;
        font-size:18px;
        border-bottom:1px solid #EEEEEE;
        color:#424242;
      }
      .pull-right {
        float: right;
        margin-right: 10px;
      }
      .pull-left {
        float: left;
        margin-left: 10px;
      }
      
      .user-options-dropdown{
        min-height: 200px;
        min-width: 370px;
        color: var(--app-menu-color);
        font-size:14px;
        position:relative;
        overflow-x: hidden;
      }

      .user-edit-body {
        padding:10px;
        min-height:350px;
        overflow-x: hidden;
      }
      .user-options-body {
         padding:10px;
      }
      
      .user-options-footer {
        position: absolute;
        bottom:0;
        left: 0;
        width:100%;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #EEEEEE;
        padding:10px 0px 10px 0px;
      }

      .arrowUp {
         position: fixed;
         top: 50px;
         right: 30px;
         width: 0;
         height: 0;
         border-left: 10px solid transparent;
         border-right: 10px solid transparent;
         border-bottom: 10px solid #FFFFFF;
      }
    </style>
  </template>
</dom-module>